h1 {
    color: black;
    font-size: 2em;
    padding-top: 50px;
    width: 50%;
  }

  p {
    color: black;
    line-height: 2em;
    text-align: left;
    width: 50%;
    margin: auto;
  }

.article-list, h1 {
  width: 50%;
  margin: auto;
}

.primary-nav {
  float: right;
  display: inherit;
}